---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";

const url = new URL(Astro.request.url)
const isAnuncio = url.pathname.includes('anuncios')
---

<Layout title="Anuncios | Programas Premium">

  <Header isAnuncio={isAnuncio}/>

  <div class="container">


  <main>
    <script type="text/javascript">atOptions = {'key' : '99b16583ad66f0e225ca464009bee9e4','format' : 'iframe','height' : 90,'width' : 728,'params' : {}};document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.highperformancedisplayformat.com/99b16583ad66f0e225ca464009bee9e4/invoke.js"></scr' + 'ipt>');</script>
    <script type="text/javascript">atOptions = {'key' : '63a0a7d29b28a69ba2b0c4caf5d2dbe8','format' : 'iframe','height' : 600,'width' : 160,'params' : {}};document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.highperformancedisplayformat.com/63a0a7d29b28a69ba2b0c4caf5d2dbe8/invoke.js"></scr' + 'ipt>');</script>
    <script type="text/javascript">atOptions = {'key' : '0cf6abbba1b265275998a9b9a6d5fbbe','format' : 'iframe','height' : 60,'width' : 468,'params' : {}};document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.highperformancedisplayformat.com/0cf6abbba1b265275998a9b9a6d5fbbe/invoke.js"></scr' + 'ipt>');</script>
  </main>

  <sidebar>
    <script type="text/javascript">atOptions = {'key' : 'b88c7049cbeacb718daece78133e1d5a','format' : 'iframe','height' : 250,'width' : 300,'params' : {}};document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.highperformancedisplayformat.com/b88c7049cbeacb718daece78133e1d5a/invoke.js"></scr' + 'ipt>');</script>
    <script type="text/javascript">atOptions = {'key' : 'e9d4da860a11a6d4eb87b77d035aa4f5','format' : 'iframe','height' : 300,'width' : 160,'params' : {}};document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.highperformancedisplayformat.com/e9d4da860a11a6d4eb87b77d035aa4f5/invoke.js"></scr' + 'ipt>');</script>
    <script type="text/javascript">atOptions = {'key' : '446673efab97431f17198bd97c94fe29','format' : 'iframe','height' : 50,'width' : 320,'params' : {}};document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.highperformancedisplayformat.com/446673efab97431f17198bd97c94fe29/invoke.js"></scr' + 'ipt>');</script>
    <script async="async" data-cfasync="false" src="//pl17679160.profitablegatetocontent.com/78be06637190a55fcc5f3a7a2c47a8ca/invoke.js"></script>
    <div id="container-78be06637190a55fcc5f3a7a2c47a8ca"></div>
  </sidebar>

  <script type='text/javascript' src='//pl17679132.profitablegatetocontent.com/61/53/90/615390ebcb8ec2641e8a28cec09f239a.js'></script>
  </div>

</Layout>

<style>
  .container {
    padding-top: 7rem;
    overflow-x: hidden;
  }
</style>
