---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Programas from '../components/Programas.astro';
import About from '../components/About.astro';
---

<Layout title="Programas Premium">

	<sidebar class="sidebar-1">
		<script type='text/javascript' src='//pl17679088.profitablegatetocontent.com/8d/ed/ff/8dedff145384ba4cd43eb782545e4261.js'></script>
		<script async="async" data-cfasync="false" src="//pl17679160.profitablegatetocontent.com/78be06637190a55fcc5f3a7a2c47a8ca/invoke.js"></script>
		<div id="container-78be06637190a55fcc5f3a7a2c47a8ca"></div>
		<script type="text/javascript">atOptions = {'key' : '446673efab97431f17198bd97c94fe29','format' : 'iframe','height' : 50,'width' : 320,'params' : {}};document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.highperformancedisplayformat.com/446673efab97431f17198bd97c94fe29/invoke.js"></scr' + 'ipt>');</script>
	</sidebar>

	<main>
		<Header/>
		<Hero/>
		<script type="text/javascript">atOptions = {'key' : '99b16583ad66f0e225ca464009bee9e4','format' : 'iframe','height' : 90,'width' : 728,'params' : {}};document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.highperformancedisplayformat.com/99b16583ad66f0e225ca464009bee9e4/invoke.js"></scr' + 'ipt>');</script>
		<Programas/>
		<p>Contraseña: <span>rxtsel</span></p>
		<About/>
	</main>
</Layout>
	
<style>
	p {
		color: #f5f5f5;
		text-align: center;
		font-weight: 400;
		padding: 2rem 0;
	}

	span {
		font-weight: 200;
	}

	.sidebar-1 {
	padding-top: 8rem;
	position: fixed;
	top: 0;
	width: 35rem;
	height: 100vh;
	right: 0;
	}

</style>
