---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Programas from '../components/Programas.astro';
---

<Layout title="Programas Premium Totalmente Gratis">
	<main>
		<Header/>
		<Hero/>
		<Programas/>
	</main>
</Layout>
