---
export interface Props {
  position: 'left' | 'right';
}

const { position } = Astro.props

---

{
  position === 'left' ? (

  <aside class="absolute min-h-screen overflow-x-hidden top-0 max-w-sm w-96 flex flex-col items-center justify-center gap-1 pb-[7.6rem]">
    <script type="text/javascript">
      atOptions = {
        'key' : 'b88c7049cbeacb718daece78133e1d5a',
        'format' : 'iframe',
        'height' : 250,
        'width' : 300,
        'params' : {}
      };
      document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://resetselected.com/b88c7049cbeacb718daece78133e1d5a/invoke.js"></scr' + 'ipt>');
    </script>

      <script type="text/javascript">
	atOptions = {
		'key' : 'e9d4da860a11a6d4eb87b77d035aa4f5',
		'format' : 'iframe',
		'height' : 300,
		'width' : 160,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://resetselected.com/e9d4da860a11a6d4eb87b77d035aa4f5/invoke.js"></scr' + 'ipt>');
</script>

      <script type="text/javascript">
	atOptions = {
		'key' : '0cf6abbba1b265275998a9b9a6d5fbbe',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://resetselected.com/0cf6abbba1b265275998a9b9a6d5fbbe/invoke.js"></scr' + 'ipt>');
</script>

      <script type="text/javascript">
	atOptions = {
		'key' : '446673efab97431f17198bd97c94fe29',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://resetselected.com/446673efab97431f17198bd97c94fe29/invoke.js"></scr' + 'ipt>');
</script>
       <script async="async" data-cfasync="false" src="//resetselected.com/78be06637190a55fcc5f3a7a2c47a8ca/invoke.js"></script>
<div id="container-78be06637190a55fcc5f3a7a2c47a8ca"></div>

  </aside>

  ) : (
  <aside class="absolute min-h-screen top-0 right-0 overflow-x-hidden max-w-sm w-96 flex flex-col items-center justify-center gap-1 pb-[7.6rem]">
    <script type="text/javascript">
      atOptions = {
        'key' : 'b88c7049cbeacb718daece78133e1d5a',
        'format' : 'iframe',
        'height' : 250,
        'width' : 300,
        'params' : {}
      };
      document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://resetselected.com/b88c7049cbeacb718daece78133e1d5a/invoke.js"></scr' + 'ipt>');
    </script>

        <script type="text/javascript">
	atOptions = {
		'key' : 'e9d4da860a11a6d4eb87b77d035aa4f5',
		'format' : 'iframe',
		'height' : 300,
		'width' : 160,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://resetselected.com/e9d4da860a11a6d4eb87b77d035aa4f5/invoke.js"></scr' + 'ipt>');
</script>

<script type="text/javascript">
	atOptions = {
		'key' : '0cf6abbba1b265275998a9b9a6d5fbbe',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://resetselected.com/0cf6abbba1b265275998a9b9a6d5fbbe/invoke.js"></scr' + 'ipt>');
</script>

        <script type="text/javascript">
	atOptions = {
		'key' : '446673efab97431f17198bd97c94fe29',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://resetselected.com/446673efab97431f17198bd97c94fe29/invoke.js"></scr' + 'ipt>');
</script>

        <script async="async" data-cfasync="false" src="//resetselected.com/78be06637190a55fcc5f3a7a2c47a8ca/invoke.js"></script>
<div id="container-78be06637190a55fcc5f3a7a2c47a8ca"></div>

  </aside>
)
}
