<section id="Inicio">
  <h1>¡Los mejores programas completamente <strong>gratis y libre de virus</strong>!</h1>
</section>

<style>
  section {
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #240046;
  }
  h1 {
    color: #fff;
    max-width: 800px;
    width: 90%;
    font-size:2.6rem;
    line-height: 1.2;
    margin: 2rem auto;
    text-align: center;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 6.2rem;
      font-weight: bolder;
    }
  }

</style>
