---
export interface Props {
  content: {
    title: string
    description: string
    heroImage?: string
    tags: string[]
  }
}

const {
  content: { title, description, heroImage }
} = Astro.props
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
  <meta name="description" content={description}>
  <link rel="icon" type="image/svg+xml" href="16x16.svg" sizes="16x16"/>
  <link rel="icon" type="image/svg+xml" href="32x32.svg" sizes="32x32"/>
  <link rel="icon" type="image/svg+xml" href="96x96.svg" sizes="96x96"/>
  <link rel="apple-touch-icon" type="image/svg+xml" href="180x180.svg" sizes="180x180" >
</head>
<body class="bg-orange-50 dark:bg-zinc-900 text-zinc-900 dark:text-zinc-300 break-words leading-6 transition-colors duration-500">

  <h1>{title}</h1>
  <p>{description}</p>
</body>
</html>
